version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      # Use the service name 'db' as the host
      - SQLALCHEMY_DATABASE_URL=mysql+pymysql://board_game:998244353@db/board_battle_db
    depends_on:
      db:
        condition: service_healthy
    restart: always

  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_DATABASE: board_battle_db
      MYSQL_USER: board_game
      MYSQL_PASSWORD: "998244353"
      MYSQL_ROOT_PASSWORD: "root_password"
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

volumes:
  db_data:
